@inject FuelApiClient ApiClient

<!-- Evaluation Specific Form for use as child to Entity Form -->
<div class="mb-3">
	<AlertMessage SuccessMessage="@_successMessage" ErrorMessage="@_errorMessage" />
	<label class="form-label">Date</label>
	<InputDate class="form-control" @bind-Value="FormModel.Date" />
</div>
<div class="mb-3">
	<label class="form-label">Staff Member</label>
	<InputSelect class="form-control" @bind-Value="FormModel.StaffMemberId" disabled="@(_staffMembers.Count == 0)">
		<option value="">Select a staff member</option>
		@foreach (var staff in _staffMembers)
		{
			<option value="@staff.StaffMemberId">@staff.LastName, @staff.FirstName</option>
		}
	</InputSelect>
</div>
<div class="mb-3">
	<label class="form-label">Player</label>
	<InputSelect class="form-control" @bind-Value="FormModel.PlayerId" disabled="@(_players.Count == 0)">
		<option value="">Select a player</option>
		@foreach (var player in _players)
		{
			<option value="@player.PlayerId">@player.LastName, @player.FirstName</option>
		}
	</InputSelect>
</div>
<div class="mb-3">
	<label class="form-label">Summary</label>
	<InputText class="form-control" @bind-Value="FormModel.Summary" />
</div>
<!-- End Evaluation Specific Form -->


@code {
    // defined FuelWebUi.Pages.Crud.FormModels.EvaluationFormModel
	[Parameter] 
    public EvaluationFormModel FormModel { get; set; } = new();
	
    protected List<StaffMemberNamesDto> _staffMembers { get; set; } = new();
	protected List<PlayerNamesDto> _players { get; set; } = new();
	protected readonly string? _successMessage = null;
	protected string? _errorMessage { get; set; } = null; 

	// Load Staff members and players for dropdowns
    protected override async Task OnInitializedAsync()
    {
        List<StaffMemberNamesDto>? staffResult = null;
        List<PlayerNamesDto>? playerResult = null;
        try
        {
            _errorMessage = null;
            var staffTask = ApiClient.Api.StaffMembers.Names.GetAsync();
            var playerTask = ApiClient.Api.Players.Names.GetAsync();
            
            await Task.WhenAll(staffTask, playerTask);
            staffResult = await staffTask;
            playerResult = await playerTask;
        }
        catch (Exception ex)
        {
            _errorMessage = $"Failed to load: {ex.Message}";
        }
        finally
        {
            _staffMembers = staffResult ?? new List<StaffMemberNamesDto>();
            _players = playerResult ?? new List<PlayerNamesDto>();
        }
    }
}

